{{> components/header}}
  <div class="title">
      Account Creation
  </div>

  <div class="normal-text">Welcome to About Rent! Your account has been successfully created by an administrator.<br/> <br/>
      <span style="font-weight: 700;">To set up your password and access your account, please click on the following link:</span>
  </div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Set Password</a>
      </div>
  </div>

  <div class="normal-text">
      If you did not create an account, please disregard this email. Your security is important to us.
  </div>

  <div class="normal-text">
      Once you click the link above, you will be directed to a page where you can create a password for your account.
      Please ensure to choose a strong and secure password to maintain the security of your account.
  </div>
{{> components/footer}}