{{> components/header}}
  <div class="title">
       Asset Pickup Confirmation
  </div>

    <div class="normal-text">
        Your asset pickup is confirmed. Please follow the instructions on the app to complete the pickup process.
    </div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Go to order</a>
      </div>
  </div>
{{> components/footer}}