{{> components/header}}
  <div class="title">
       Asset Drop Off Confirmation
  </div>

    <div class="normal-text">
        Thank you for returning your asset.
        Ensure you have uploaded all necessary pictures and signed the E-contract for a smooth drop-off process.
    </div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Go to order</a>
      </div>
  </div>
{{> components/footer}}