{{> components/header}}
  <div class="title">
       Booking Request Cancelled
  </div>

    <div class="normal-text">
        The tool customer has canceled the booking.
    </div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Go to order</a>
      </div>
  </div>
{{> components/footer}}