{{> components/header}}
  <div class="title">
       Booking Request Rejected
  </div>

    <div class="normal-text">
The tool owner has declined your booking request.    </div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Go to order</a>
      </div>
  </div>
{{> components/footer}}