{{> components/header}}
  <div class="title">
       Booking Extension Request
  </div>

    <div class="normal-text">
        A user has requested to extend the booking for your asset. Review and approve the request within X hours to proceed.
    </div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Go to order</a>
      </div>
  </div>
{{> components/footer}}