{{> components/header}}
  <div class="title">
      Early Return of Asset
  </div>

    <div class="normal-text">
        You've requested an early return. If approved, the refund process will be initiated. Check the app for details.
    </div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Go to site</a>
      </div>
  </div>
{{> components/footer}}