{{> components/header}}
  <div class="title">
      Account Verification
  </div>

  <div class="normal-text">Thank you for signing up for Yot Store. <br/> <br/>
      <span style="font-weight: 700;">To verify your email address and activate your account, please click the link below:</span></div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Confirm</a>
      </div>
  </div>

  <div class="normal-text">
      Once you've verified your email, you'll be all set to start using our services.
  </div>

  <div class="normal-text">
      If you didn't request this registration, please ignore this email.
  </div>
{{> components/footer}}
