{{> components/header}}
  <div class="title">
      Late Return Notification
  </div>

    <div class="normal-text">
        Your asset return is overdue.<br/><br/> Please check the app for late return charges and make the payment to complete the process.
    </div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Go to site</a>
      </div>
  </div>
{{> components/footer}}