{{> components/header}}
  <div class="title">
      Asset Registration Approved
  </div>

  <div class="normal-text">Congratulations! Your asset registration on RentAbout has been approved. <br/> <br/>
       Your asset {{name}} is now live on our platform.</div>

  <div class="actions">
      <div class="shadow">
          <a href="{{link}}" class="normal-btn">Go to site</a>
      </div>
  </div>
{{> components/footer}}
