{{> components/header}}
  <div class="title">
      Code to access your account
  </div>

  <div class="normal-text">Dear {{name}},<br/>
      Thank you for using our platform!</div><br/>

  <div class="normal-text">
      Access Code: <span style="font-weight: 700;">{{code}}</span>
  </div>

  <div class="normal-text">
      Please enter this code on the login page. It is the only valid alternative for confirming your identity.
  </div>

  <div class="normal-text">
      If you did not request a login or receive a code, please disregard this email and contact our support team.
  </div>
{{> components/footer}}